body {
    background-image: url("https://raw.githubusercontent.com/mark-fitzgerald/code-201-n6/master/week_3-4/assets/salmon.png");
    background-position: right top;
    background-repeat: repeat-y;
    background-color: #A56B28;
}

h1 {
    color: #0F340F;
    font-family: 'Open Sans', Verdana, sans-serif;
    width: 350px;
    padding-left: 10px;
}

h2 {
    width: 350px;
    text-align: center;
}
.data {
    font-family: Arial, Helvetica, sans-serif; 
}

p {
    font-family: Georgia, Times, serif;
    text-align: center;
    width: 340px;
}

li {
    color: #7C511F;
    font-weight: bold;
    text-align: left;
    width: 250px; 
    margin-top: 1px;
}

.location {
   color: #211F06 
}

ul {
    border: solid 1px;
    background-color: #0F340F;
    width: 175px;
    height: 175px;
    border-radius: 25px;
    padding: 17px 15px 7px 60px;
    margin-left: 48px;
    margin-right: 40px;
}

.content {
    text-align: center;
}

#bodycolor {
    border: 1px solid;
    height: 100px;
    width: 200px;
    background-color: #A56B28;
} 

#headinglistcolor {
    border: 1px solid;
    height: 100px;
    width: 200px;
    background-color:#0F340F; 
}

#listitemcolor { 
    border: 1px solid;
    height: 100px;
    width: 200px;
    background-color:#7C511F; 
}

#storenamecolor {
    border: 1px solid;
    height: 100px;
    width: 200px;
    background-color:#211F06;
}