body {
    background-image: url("https://raw.githubusercontent.com/mark-fitzgerald/code-201-n6/master/week_3-4/assets/salmon.png");
    background-position: right top;
    background-repeat: repeat-y;
    background-color: #A56B28;
}

h1 {
    color: #0F340F;
    font-family: 'Open Sans', Verdana, sans-serif;
    width: 350px;
}

.data {
    font-family: Arial, Helvetica, sans-serif; 
}

p {
    font-family: Georgia, Times, serif;
    text-align: center;
    width: 350px;
}

li {
    color: #7C511F;
    font-weight: bold;
    padding-right: 110px;
}

.location {
   color: #211F06 
}

ul {
    background-color: #0F340F;
    width: 260px;
    border-radius: 25px;
    padding-left: 100px;
}

.content {
    text-align: center;
}