body {
    background-image: url("https://raw.githubusercontent.com/mark-fitzgerald/code-201-n6/master/week_3-4/assets/salmon.png");
    background-position: right top;
    background-repeat: repeat-y;
    background-color: #A56B28;
}

h1 {
    color: #0F340F;
    font-family: 'Open Sans', Verdana, sans-serif;
    width: 350px;
    padding-left: 10px;
}

td {
    font-family: Arial, Helvetica, sans-serif; 
    color: #7C511F;
    font-weight: bold;
    text-align: left;
    width: 320px; 
    margin-top: 50px; 

    padding-right: 5px;
}

/*.location {
   color: #211F06 
} */

table {
    border: solid 1px;
    background-color: #0F340F;
    width: 240px;
    height: 300px; 
    border-radius: 25px;
    padding: 15px 10px 15px 35px;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 10px;
    border-spacing: 10px; 
}

#bodycolor {
    border: 1px solid;
    height: 100px;
    width: 200px;
    background-color: #A56B28;
} 

#headinglistcolor {
    border: 1px solid;
    height: 100px;
    width: 200px;
    background-color:#0F340F; 
}

#listitemcolor { 
    border: 1px solid;
    height: 100px;
    width: 200px;
    background-color:#7C511F; 
}

#storenamecolor {
    border: 1px solid;
    height: 100px;
    width: 200px;
    background-color:#211F06;
}